{% extends "base.html" %}

{% block title %}Página Não Encontrada | Kalleby Evangelho{% endblock %}

{% block content %}
<section class="container text-center py-5 mt-5">
  <h1 class="display-4" data-aos="fade-down">Erro 404</h1>
  <p class="lead" data-aos="fade-up" data-aos-delay="200">A página que você tentou acessar não existe ou foi removida.</p>
  <a href="/" class="btn btn-primary mt-4" data-aos="zoom-in">Voltar para a Página Inicial</a>
</section>
<section class="text-center py-4 footer-cnpj border-top">
    <small class="footer-cnpj-text">CNPJ Kalleby Evangelho Mota: 49.549.704/0001-07</small>
  </section>
{% endblock %}
